@import "tailwindcss";

@theme {
  --font-bai-jamjuree: var(--font-bai-jamjuree);
}

@layer base {
  *,
  body {
    font-family: var(--font-bai-jamjuree), sans-serif !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red-primary: red;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

input {
  border: 1px solid #ddd;
  padding: 0px 12px;
  height: 2.5rem;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: white;
}

input:focus {
  outline: 1px solid rgba(0, 0, 255, 0.355);
}

textarea {
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: white;
  min-height: 10rem;
}

textarea:focus {
  outline: 1px solid rgba(0, 0, 255, 0.355);
}

button {
  user-select: none;
  border-radius: 6px;
  cursor: pointer;
  min-width: max-content;
  height: 2.5rem;
}
